*{
   padding: 0;
   margin: 0;
   box-sizing: 0;
}

.container{
   height: 120vh;
   background-color: #c7a183;
}

img{
   height: 70px;
   width: 200px;
   margin-top: 60px;
   margin-left: 150px;
}

header{
   display: flex;
   justify-content: space-between;
}

ul{
   height: 50px;
   width: 800px;
   margin-top: 70px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-right: 25px;
}

ul li{
   list-style: none;
   color: #fff;
   font-size: 20px;
}

main{
   height: 700px;
   display: flex;
   align-items: center;
}

.contents{
   margin-top: 60px;
   margin-left: 140px;
   height: 500px;
   width: 900px;
}

.contents h1{
   font-size: 90px;
   font-weight: bold;
   color: #392e2b;
   letter-spacing: -4px;
}

.contents p{
   font-size: 30px;
   margin-top: 50px;
}

button{
   margin-top: 30px;
   padding: 20px;
   font-size: 25px;
   border-radius: 15px;
   border: none;
   color: #fff;
   background-color: #6b4a33;
}

main img{
   width: 800px;
   height: 500px;
   margin-left: 0px;
   border-radius: 2px;
   margin-top: 0px;
   margin-right: 60px;
}

ul .home{
   font-weight: bold;
}
  body{
   font-family:Arial, Helvetica, sans-serif;
  }

